.right:disabled {
  color: white;
  background-color: darkgreen;
  opacity: 1;
}
.wrong:disabled {
  color: white;
  background-color: darkred;
  opacity: 1;
}

.placeholder {
  height: 86px;
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  width: 100vw;
  border-bottom: 4px solid black;
  z-index: 99;
}
nav div {
  display: flex;
  align-items: center;
} 
nav a {
  vertical-align: middle;
  padding: 0px 50px;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: black;
}
.logo {
  width: 200px;
  margin: 15px 20px;
}
.seleced {
  font-weight: bold;
}

header > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 4px solid black;
}
header > #img {
  background-image: url("../../images/quizBackground.jpg");
  background-size: cover;
  height: 500px;
  color: white;
}
header h1 {
  font-size: 100pt;
  text-align: center;
}

main > p > a {
  font-size: 16pt;
  text-decoration: none;
  color: black;
  margin: 5px 0px 0px 10px;
  padding: 20px 0px 0px 30px;
}
main {
  margin: 25px 0px;
}
main > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main > div > div {
  max-width: 500px;
  width: 100%;
  padding: 1.5rem;
  margin: 25px;
}
main h2 {
  font-size: 26pt;
}
main h3 {
  font-size: 18pt;
  padding-bottom: 1rem;
}
main h4 {
  margin: 10px 0px 0px 0px;
}
main > div > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
main button {
  margin: 5px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 4px solid black;
}
footer > div {
  margin: 15px;
}
footer img {
  height: 34px;
  vertical-align: middle;
  margin-left: 10px;
}
footer > div > p {
  font-size: 24px;
}
footer > div > p > a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}